<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="DEBUG_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>logs/aspire-user.log</file>
        <rollingPolicy class="aspire.user.log.MySizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/aspire-user.%d{yyyyMMdd_HHmmss}.%i.log</fileNamePattern>
            <MaxFileSize>5MB</MaxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_LOG_FILE"/>
    </root>

    <logger name="aspire" level="DEBUG"/>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>
    <logger name="org.jooq" level="DEBUG" />
</configuration>